/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

  -fx-background-color: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
 

}
.label{
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , white , 8 , 0.0 ,  0.7 , 0.7 );
}


